
<div class="page-bar">
    <ul class="page-breadcrumb">

        <li>
            <i class="fa fa-home"></i>
            <a href="#/dashboard">主页</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#" ng-bind="$state.current.data.pageTitle"></a>
        </li>
    </ul>
    <div class="page-toolbar"></div>
</div>
<!--<h3 class="page-title" ng-bind="$state.current.data.pageTitle"></h3>-->




<div class="portlet box green col-md-12" ng-controller="app.admin.identity.users as vm">

    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i><span ng-bind="title"></span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="fullscreen"></a>
        </div>
    </div>

    <div class="portlet-body flip-scroll">
        <!--<button kendo-button ng-click="update()">
            Update from code
        </button>-->
        <!--<div kendo-toolbar k-options="toolbarOptions"></div>-->

        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div class="btn-group">
                        <button id="sample_editable_1_new" class="btn green" ng-click="toolbarClick()" ng-if="vm.permissions.createPerson">
                            新增 <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-group pull-right">
                        <button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            工具 <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;">
                                    导出
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    打印
                                </a>
                            </li>
                      
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <script id="template" type="text/x-kendo-template">

            <!--<a class="k-button" href="\#" ng-click="toolbarClick()">新增用户</a>-->
            

        </script>

        <script id="button-template" type="text/x-kendo-template" >
            <a class="btn default btn-xs green" ng-click="vm.editUser()">
                <i class="fa fa-edit"></i> 编辑
            </a>
            
            <a href="javascript:;" class="btn default btn-xs black">
                <i class="fa fa-trash-o"></i> 删除
            </a>
        </script>

        <kendo-grid options="gridOptions" k-toolbar="toolbarTemplate" id="grid"></kendo-grid>
    </div>
    <!--<div ng-controller="app.admin.identity.users.setpermission">
        <script type="text/ng-template" id="identity-users-setpermission">
            <div class="modal-header">
                <h4 class="modal-title">设置权限：{{user.UserName}}</h4>
            </div>
            <div class="modal-body">
                <tabset class="tab-container tabbable-line">
                    <tab>
                        <tab-heading><i class="fa fa-users"></i>角色设置</tab-heading>
                        <ul class="md-checkbox-list list-inline" style="list-style-type: none; margin: 0; padding: 0;">
                            <role class="md-checkbox" ng-repeat="role in roles" />
                        </ul>
                    </tab>
                    <tab>
                        <tab-heading><i class="fa fa-tree"></i>功能设置</tab-heading>
                        <div style="background-color:yellow;">
                            <p>功能设置内容</p>
                        </div>
                    </tab>
                </tabset>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="submit()"><i class="fa fa-check"> </i> 确定</button>
                <button class="btn btn-warning" ng-click="cancel()">取消</button>
            </div>
        </script>
    </div>-->
</div>

